Package: me.luki.marie
Name: Marie
Version: 1.0.6
Architecture: iphoneos-arm
Description: Put an image for the dialer, passcode or sharesheet background on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Icon: https://raw.githubusercontent.com/Luki120/luki120.github.io/master/assets/Tweaks/SpringBoard/Marie/MarieIcon.png
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.marie
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.marie/depiction.json
