Package: me.luki.marie
Name: Marie
Version: 1.0.1
Architecture: iphoneos-arm
Description: A goddamn neat awesome mobile substrate tweak or whatever
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.marie
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.marie/depiction.json
